/* mobile device */
@media (max-width: 768px){
    .banner h2{
        font-size: 36px;
    }
    .heading-title{
        font-size: 36px;
    }
    .heading-subtitle::after{
        content: '';
        display: none;
    }
    .latest-news .card-title{
        font-size: 25px;
    }
    .latest-news .card-text{
        font-size: 14px;
    }
}