@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.img-grayscale{
    filter: grayscale(100%);
}
.circle-img-size{
    width: 180px;
    height: 180px;
}
.text-warning{
    color: #e05532 !important;
}
.btn-warning {
    color: #fff !important;
    background-color: #E76F51 !important;
    border-color: #E76F51 !important;
}
.btn {
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
}
.btn:hover {
    color: #212529;
}
.btn-warning:hover {
    color: #fff !important;
    background-color: #e05532 !important;
    border-color: #e05532 !important;
}
.btn-outline-warning:hover {
    color: #fff !important;
    background-color: #e05532 !important;
    border-color: #e05532 !important;
}
.btn-outline-warning {
    color: #e05532 !important;
    border-color: #e05532 !important;
}
.nav-link:focus, .nav-link:hover {
    color: #e05532 !important;
}
.nav-link{
    color: #fff !important;
}
.border-graywhite{
    border-color: #D5E5FB !important;
}
.heading{
    margin-bottom: 65px;
}
.heading-title{
    font-size: 48px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
.heading-subtitle{
    font-size: 14px;
    font-weight: 600;
    color: #E76F51;
}
.heading-subtitle::after{
    content: '';
    width: 60px;
    height: 2px;
    background-color: #E76F51;
    display: block;
    margin: 5px auto;
}
/* header section */
header{
    background-color: #264653;
}
.banner{}
.banner h6{
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}
.banner h2{
    font-size: 48px;
    color: #fff;
    font-weight: 600;
}
.banner p{
    font-size: 16px;
    color: #E0E0E0;
    font-weight: 300;
}
.banner-img-bg{
    background-image: url(./images/header-bg.png);
    background-repeat: no-repeat;
    background-position: top 40px right;
}
/* featured bike */
 #featured{
     padding: 80px 0;
 }

 /* latest news */
 .latest-news{}
 .latest-news .card-title{
     color: #18191F;
     font-size: 28px;
     font-weight: 600;
 }
 .latest-news .card-text{
     color: #6C6C6C;
     font-size: 16px;
     font-weight: 400;
 }
 .latest-news-card{
     margin-bottom: 100px;
 }
 /* reviews section */
 .reviews{
     margin-bottom: 100px;
 }
 .reviews .card-text{
     color: #6C6C6C;
     font-size: 16px;
     font-weight: 400;
 }
 .reviews .reviewer-name{
     color: #23A6F0;
     font-size: 16px;
     font-weight: 600;
 }
 .reviews .reviewer-designation{
     color: #252B42;
     font-size: 16px;
     font-weight: 600;
 }
 /* FAQ Section */
 .faq{
     margin-bottom: 100px;
 }
 .faq .accordion-button{
     font-size: 20px;
     font-weight: 500;
     color: #383838 !important;
     box-shadow: none;
 }
 .faq .accordion-body{
     font-size: 16px;
     font-weight: 400;
     line-height: 28px;
     color: #7E848C !important;
 }
 .faq .accordion-button:focus {
    border-color: #86b7fe;
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    background-color: #fff;
}
/* accessories */
.accessories{
    margin-bottom: 100px;
}

/* footer */
footer{
    background-color: #0B0D17;
    padding: 70px 0;
    margin-top: 100px;
}
footer li a{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
footer li a:hover{
    color: #E76F51 !important;
}
footer h3{
    color: #D9DBE1;
    font-size: 18px;
    font-weight: 500;
}
footer p{
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 400;
}